@charset "utf-8";

@font-face {
    font-family: scdream;
    src: url('../fonts/scdream/scdream1-webfont.woff2') format('woff2'),
         url('../fonts/scdream/scdream1-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: scdream;
    src: url('../fonts/scdream/scdream2-webfont.woff2') format('woff2'),
         url('../fonts/scdream/scdream2-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: scdream;
    src: url('../fonts/scdream/scdream3-webfont.woff2') format('woff2'),
         url('../fonts/scdream/scdream3-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: scdream;
    src: url('../fonts/scdream/scdream4-webfont.woff2') format('woff2'),
         url('../fonts/scdream/scdream4-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: scdream;
    src: url('../fonts/scdream/scdream5-webfont.woff2') format('woff2'),
         url('../fonts/scdream/scdream5-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: scdream;
    src: url('../fonts/scdream/scdream6-webfont.woff2') format('woff2'),
         url('../fonts/scdream/scdream6-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: scdream;
    src: url('../fonts/scdream/scdream7-webfont.woff2') format('woff2'),
         url('../fonts/scdream/scdream7-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: scdream;
    src: url('../fonts/scdream/scdream8-webfont.woff2') format('woff2'),
         url('../fonts/scdream/scdream8-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: scdream;
    src: url('../fonts/scdream/scdream9-webfont.woff2') format('woff2'),
         url('../fonts/scdream/scdream9-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


/* μλ¬Έν°νΈ Montserrat */
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}