@charset "utf-8";

/* =================================
*
*   포트폴리오 Main
*   ㄴ 16px 기준 작업 (1rem/ 8px 0.5rem / 0.4px 0.25rem)
*
================================== */
$bg-Clr: #f7f8f9;
$pit-Clr: #5ab1ae;


#container {background-color: $bg-Clr; }

/* scroll */
.scroll-text {display: flex; align-items: center; position: absolute; left: 50%; bottom: 50px; transform: translate(-50%, -50%); }
.scroll-text p {margin-right: 10px; font-size: 14px; color: #222; }
.icon-scroll {width: 14px; margin-top: 2px; }
.icon-scroll .scroll-arrow {-webkit-animation: arrow-wave 1s infinite; -webkit-animation-direction: alternate; animation: arrow-wave 1s infinite; animation-direction: alternate; }
.icon-scroll .scroll-arrow:nth-child(1) {animation-delay: 0.1s; }
.icon-scroll .scroll-arrow:nth-child(2) {animation-delay: 0.2s; }
.icon-scroll .scroll-arrow:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }
.scroll-arrow .line {display: block; float: left; width: 2px; height: 8px; margin-top: -2px; transform: translateX(7px) rotate(60deg); background-color: #444; }
.scroll-arrow .line:nth-child(1) {transform: translateX(3px) rotate(-60deg); }


@keyframes arrow-wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}


/* =================================
*
* intro
*
================================== */
.intro-wrap {position: relative; box-sizing: border-box; }
.intro {
    position: relative;
    width: 100%; max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    z-index: 1;
}
.intro-text {position: absolute; top: 50%; left: 50%; margin-top: -40px; padding: 40px 20px; box-sizing: border-box; text-align: center; transform: translate(-50%, -50%); line-height: 1.43; z-index: 100; }
.intro-text .text-wrap > span {display: block; margin-bottom: 10px; font-size: 30px; font-weight: 200; }
.intro-text .text-wrap > .typing-text {padding: 0 10px; min-height: 75px; font-family: 'Expletus Sans'; font-size: 75px; font-weight: 600; white-space: nowrap; color: transparent; -webkit-text-stroke: 2px $pit-Clr; line-height: 1; animation-name: cursortyping; animation-duration: 0.4s; animation-iteration-count: infinite; letter-spacing: -3px; }
.intro-text .text-wrap > em {font-style: normal; font-size: 75px; font-weight: 600; color: #000; white-space: nowrap; }


.intro-text .colon {display: inline-block; position: relative; width: 20px; height: 62px; filter: blur(1px); }
.intro-text .colon:after {content:""; display: block; position: absolute; top: 40%; left: 50%; width: 0; height: 0; border-width: 8px; border-style: solid; border-color: #000 transparent transparent transparent; transform: translateX(-50%); }
.intro-text .colon:before {content:""; display: block; position: absolute; top: 60%; left: 50%; width: 0; height: 0; border-width: 8px; border-style: solid; border-color: transparent transparent #000 transparent; transform: translateX(-50%); }



.intro-blob-svg {width: 50%; position: absolute; bottom: -30px; left: -210px; z-index: -1; }
.intro-blob-svg path {transform: translate(50%, 50%) rotate(-35deg); }

.intro-blob-svg02 {width: 45%; position: absolute; top: -30px; right: -130px; filter: blur(5px); }



@-webkit-keyframes cursortyping {
  0% {border-right: 1px solid transparent; }
  50% {border-right: 1px solid #222; }
  100% {border-right: 1px solid transparent; }
}

@keyframes cursortyping {
  0% {border-right: 1px solid transparent; }
  50% {border-right: 1px solid #222; }
  100% {border-right: 1px solid transparent; }
}




@media (max-width: 1200px) {

}

@media (max-width: 768px) {
  .intro-text .text-wrap > span {font-size: 5.5vw; }
  .intro-text .text-wrap > .typing-text {font-size: 10vw; min-height: 10vw; }
  .intro-text .text-wrap > em {font-size: 11vw; }
  
  .intro-text .colon {}
  .intro-text .colon:after {top: 50%; }
  .intro-text .colon:before {top: 60%; }

  .intro-blob-svg {width: 60%; bottom: 0; left: -120px; }
  .intro-blob-svg02 {width: 50%; top: -20px; right: -100px; }

}


@media (max-width: 500px) {
  .intro-text .text-wrap > span {font-size: 24px; }
  .intro-text .text-wrap > .typing-text {font-size: 44px; min-height: 44px; }
  .intro-text .text-wrap > em {font-size: 55px; }

  .intro-blob-svg {width: 75%; bottom: 0px; left: -90px; }
  .intro-blob-svg02 {width: 70%; top: 20px; right: -90px; }
}


/* =================================
*
* profile
*
================================== */
.profile-wrap {position: relative; padding: 600px 80px 280px; box-sizing: border-box;  background-color: $pit-Clr; z-index: 3; }
.profile-wrap::before {content: ""; position: absolute; width: 100%; height: 300px; top: 0; left: 0; border-bottom-left-radius: 100%; border-bottom-right-radius: 100%; background-color: $bg-Clr; }

.profilecard-wrap {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 20px; }
.profilecard-wrap .profilecard {position: relative; width: 50%; max-width: 320px; padding: 30px 20px 50px; box-sizing: border-box; background: linear-gradient(135deg, #fff, #f2f2f2); box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); }

.profile-area {position: relative; z-index: 10; }
.profile-area .title {display: block; margin-bottom: 20px; font-size: 24px; font-weight: 700; color: #fff; }
.profile-area > .title {position: absolute; top: 0; left: 0; font-size: 64px; writing-mode: vertical-lr; }

.profilecard-wrap .info-area {margin-top: 20px; text-align: center; }
.profilecard-wrap .profilecard .logo {float: none; width: 50px; height: 50px; margin: 0 auto 30px; }
.profilecard-wrap .profilecard .name {font-size: 34px; font-weight: 700; }
.profilecard-wrap .profilecard .birth,
.profilecard-wrap .profilecard .local {font-size: 14px; color: #444; }

.profilecard-wrap .profilecard .email,
.profilecard-wrap .profilecard .phone {display: block; font-size: 14px; color: $pit-Clr; }
.profile-drawing {display: block; width: 150px; margin: 0 auto; border: 1px solid $pit-Clr; border-radius: 100px; }


.profilecard-back {}
.profilecard-back .title {display: block; margin-bottom: 10px; font-size: 13px; color: $pit-Clr; }

.profilecard-back ul li + li {margin-top: 5px; }
.profilecard-back ul li p {font-size: 13px; color: #444; }
.profilecard-back ul li .date {display: block; font-size: 13px; color: #888 ;}
.profilecard-back ul strong {display: block; font-size: 15px; color: #222; }

.profilecard-back ul + .title {margin-top: 20px; }

.profile-click {display: none; position: absolute; top: 50%; left: 50%; width: 80px; height: 80px; border-radius: 999px; background-color: rgba(13, 122, 198, 0.6); font-size: 15px; font-weight: 500; color: #fff; text-align: center; line-height: 80px; transform: translate(-50%, -50%); z-index: 4; -webkit-animation: click-wave 1s infinite; -webkit-animation-direction: alternate; animation: click-wave 1s infinite; animation-direction: alternate; }

@keyframes click-wave {
  0% {
    opacity: .3;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1080px) {
  .profile-area > .title {position: unset; padding-bottom: 40px; writing-mode: unset; text-align: center; }
}


@media (max-width: 768px) {
  .profile-click {display: block; }
  .profile-wrap {padding: 400px 20px 300px; }
  .profile-wrap::before {height: 200px; }

  .profilecard-wrap {width: 80%; min-height: 425px; margin: 0 auto; transition: 0.6s; transform-style: preserve-3d; }
  .profilecard-wrap.active {transform: rotateY(180deg); }
  .profilecard-wrap.active .profilecard-back {z-index: 4; }
  .profilecard-wrap.active .profilecard-front {display: none; z-index: -1; opacity: 0; }
  .profilecard-wrap .profilecard {position: absolute; top: 50%; left: 50%; width: 100%; height: 110%; min-height: 380px; }
  .profilecard-wrap .profilecard-front {transform: rotateY(0deg) translate(-50%, -50%); z-index: 3; }
  .profilecard-wrap .profilecard-back {transform: rotateY(180deg) translate(50%, -50%); }
}

@media (max-width: 500px) {
  .profilecard-wrap {width: 100%; }
  .profile-wrap {padding: 280px 20px 200px; }
  .profile-wrap::before {height: 150px; }
  .profilecard-wrap .profilecard {width: 80vw; }

  .profile-area > .title {font-size: 48px; }
  
}


/* =================================
*
* info
*
================================== */

.info {position: relative; width: 100%; min-height: 100vh; padding: 100px 80px 160px; box-sizing: border-box; background-color: $bg-Clr; transition: 0.3s; z-index: 3; }

.project-wrap {position: relative; max-width: 1200px; margin: 0 auto; padding: 0 100px; box-sizing: border-box; }
.project-wrap > .title {display: block; margin-bottom: 20px; font-size: 24px; font-weight: 700; color: $pit-Clr; }
.project-wrap > .title:first-child {position: absolute; top: 0; left: 0; font-size: 64px; writing-mode: vertical-lr; }

.project-list {display: flex; flex-wrap: wrap; gap: 24px 0; }

.project-item {width: calc(25% - 9px); margin-right: 12px; background-color: #fff; }
.project-item:nth-child(4n) {margin-right: 0; }
.project-link {display: block; width: 100%; height: 100%; }
.project-link:hover .project-info strong {color: $pit-Clr; }
.project-thumb {position: relative; width: 100%; height: 0; padding-top: 56.25%; overflow: hidden; }
.project-thumb img {position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%, -50%); }

.project-info {padding: 10px 10px; box-sizing: border-box; }
.project-info strong {font-size: 16px; font-weight: 700; color: #222; }

.project-infoarea {margin-top: 10px; }
.project-infoarea:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }
.project-infoarea p {float: left; font-size: 13px; color: #666; letter-spacing: -0.5px; }
.project-infoarea span {float: right; font-size: 13px; color: #888; }
.project-text {margin-top: 20px; font-size: 16px; font-weight: 400; color: #444; }

.project-thumb img.mobile {display: none; }




/* 메인 프로젝트 */
.project-list.main {margin-bottom: 160px; }
.project-list.main .project-item {width: 100%; background-color: transparent; margin: 0; }
.project-list.main .project-item + .project-item {margin-top: 80px; }
.project-list.main .project-item:nth-child(even) .project-thumb {order: 2; }
.project-list.main .project-item:nth-child(even) .project-info {order: 1; }
.project-list.main .project-link {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.project-list.main .project-thumb {width: 50%; padding-top: calc(56.25% / 2); }
.project-list.main .project-info {width: 50%; padding: 30px 30px; }
.project-list.main .project-info strong {font-size: 32px; }
.project-list.main .project-info .tag {display: inline-block; font-size: 14px; }
.project-list.main .project-infoarea p {font-size: 16px; }
.project-list.main .project-thumb img {width: 100%; height: auto; }


@media (max-width: 1280px) {
  .project-item {width: calc(33.333% - 8px); }
  .project-item:nth-child(4n) {margin-right: 12px; }
  .project-item:nth-child(3n) {margin-right: 0; }

  .project-list.main .project-info strong {font-size: 2.4vw; }
  .project-list.main .project-infoarea p {font-size: 14px; }
  .project-text {font-size: 1.24vw; }

}


@media (max-width: 1080px) {
  .info {padding: 100px 0; }
  .project-wrap {padding: 0 20px; }
  .project-wrap > .title:first-child {position: relative; padding-bottom: 40px; writing-mode: unset; text-align: center; }

  .project-list.main .project-item .project-info {padding: 0 0 0 20px; }
  .project-list.main .project-item:nth-child(even) .project-info {padding: 0 20px 0 0; }
  .project-list.main .project-info strong {font-size: 24px; text-align: left; }
  .project-text {margin-top: 10px; font-size: 13px; }
}

@media (max-width: 768px) {
  .project-item {width: calc(50% - 6px); }
  .project-item:nth-child(3n) {margin-right: 12px; }
  .project-item:nth-child(2n) {margin-right: 0; }

  .project-list.main .project-item + .project-item {margin-top: 40px; }
  .project-list.main .project-link {-webkit-box-orient: vertical; -ms-flex-direction: column; flex-direction: column; }
  .project-list.main .project-thumb {width: 100%; padding-top: 56.25%; }
  .project-list.main .project-info {width: 100%; }
  .project-list.main .project-item .project-info,
  .project-list.main .project-item:nth-child(even) .project-info {padding: 15px 10px 0; }
  .project-list.main .project-item:nth-child(even) .project-thumb {order: 1; }
}

@media (max-width: 580px) {

  .project-wrap > .title:first-child {font-size: 48px; }

  .project-list {gap: 12px 3%; }
  .project-item {width: 22.75%; border-radius: 16px; margin: 0; background-color: transparent; overflow: hidden; }
  .project-item:nth-child(3n) {margin-right: 0; }
  .project-thumb {padding-top: 100%; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; }
  .project-list:not(.main) .project-thumb {background-color: #fff; }
  .project-list:not(.main) .project-thumb img {height: 70%; }
  .project-thumb img {width: auto; height: 100%; }
  .project-thumb img.pc {display: none; }
  .project-thumb img.mobile {display: block; }
  .project-info {padding: 5px 0 0; }
  .project-info strong {display: block; font-size: 11px; font-weight: 400; color: #222; text-align: center; letter-spacing: -0.5px; }
  .project-info .tag,
  .project-infoarea {display: none; }
  
  .project-list.main {margin-bottom: 80px; }
  .project-list.main .project-infoarea {display: block; }
}